html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body{
	min-width: 320px;                           
	margin: 0;                                   
	
	font-family: "Roboto", sans-serif;            
	font-size: 16px;                             
	line-height: normal;                         
	color: black;                                

	background-color: #fff;                   
}

body.modal-active {
	overflow: hidden;                            
}

img {
    width: 100%;
	max-width: 100%;                             
}

a {
	text-decoration: none;                       
	color: inherit;                              
}

.visually-hidden {
	position: absolute !important;               
	clip: rect(1px 1px 1px 1px); 
	clip: rect(1px, 1px, 1px, 1px);              
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;                            
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fixed-container{
    max-width: 1170px;
	margin: 0 auto;
}

